<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.leeshtao.cloudnote.dao.UserDao">

	<resultMap id="userResultMap" type="com.leeshtao.cloudnote.entity.User">
		<id column="id" javaType="Long" property="id"></id>
		<result column="CN_USER_NAME" 		jdbcType="VARCHAR" 		property="cnUserName"/>
		<result column="CN_USER_PASSWORD" 	jdbcType="VARCHAR" 		property="cnUserPassword"/>
		<result column="CN_USER_TOKEN" 		jdbcType="VARCHAR" 		property="cnUserToken"/>
		<result column="CN_USER_NICK" 		jdbcType="VARCHAR" 		property="cnUserNick"/>
		
		<result column="DESCRIPTION" 		jdbcType="VARCHAR" 		property="description"/>
		<result column="STATUS" 			jdbcType="DECIMAL" 		property="status"/>
		<result column="CREATE_BY" 			jdbcType="DECIMAL" 		property="createBy"/>
		<result column="CREATE_DATE" 		jdbcType="TIMESTAMP" 	property="createDate"/>
		<result column="LAST_UPDATE_BY" 	jdbcType="DECIMAL" 		property="lastUpdateBy"/>
		<result column="LAST_UPDATE_DATE" 	jdbcType="TIMESTAMP" 	property="lastUpdateDate"/>
		<result column="IS_VALID" 			jdbcType="DECIMAL" 		property="isValid"/>
	</resultMap>
 <!-- 	  
	<select id="selectPK" resultType="long">
		select SEQ_CN_USER.nextval from dual
	</select>
	
	<insert id="insert" parameterType="com.leeshtao.cloudnote.entity.User" keyProperty="id">
		INSERT INTO CN_USER(
ID,	
CN_USER_NAME,		
CN_USER_PASSWORD,
CN_USER_TOKEN,
CN_USER_NICK,
DESCRIPTION,
STATUS,
CREATE_BY,
CREATE_DATE,
LAST_UPDATE_BY,
LAST_UPDATE_DATE,
IS_VALID
) 
VALUES(
#{id,jdbcType=DECIMAL,typeHandler=org.apache.ibatis.type.LongTypeHandler}
,
#{cnUserName,jdbcType=VARCHAR}
,
#{cnUserpassword,jdbcType=VARCHAR}
,
#{cnUserToken,jdbcType=VARCHAR}
,
#{cnUserNick,jdbcType=VARCHAR}
,
#{description,jdbcType=VARCHAR}
,
#{status,jdbcType=DECIMAL,typeHandler=org.apache.ibatis.type.IntegerTypeHandler}
,
#{createBy,jdbcType=DECIMAL,typeHandler=org.apache.ibatis.type.LongTypeHandler}
,
#{createDate,jdbcType=TIMESTAMP}
,
#{lastUpdateBy,jdbcType=DECIMAL,typeHandler=org.apache.ibatis.type.LongTypeHandler}
,
#{lastUpdateDate,jdbcType=TIMESTAMP}
,
#{isValid,jdbcType=DECIMAL,typeHandler=org.apache.ibatis.type.IntegerTypeHandler}
)
	
	</insert>
	
 -->	
	
	<select id="findUserByName"
			  parameterType="String"
			  resultMap="userResultMap">
		select
			*
		from cn_user
		where is_valid=1 and cn_user_name=#{name}
	</select>
	
	<!-- 注册功能 -->
	 
	<insert id="addUser"
			  parameterType="com.leeshtao.cloudnote.entity.User">
		insert into cn_user(
						cn_user_name,
						cn_user_password,
						cn_user_token,
						cn_user_nick,
						create_date,
						is_valid
		)values(#{cnUserName},#{cnUserPassword},#{cnUserToken},#{cnUserNick},sysdate(),1)
	</insert>
	<update id="updateLogin"
			  parameterType="com.leeshtao.cloudnote.entity.User">
		UPDATE cn_user set LAST_UPDATE_DATE=sysdate() where id=#{userId}
	</update>
	<update id="deleteLogicUser"
			  parameterType="com.leeshtao.cloudnote.entity.User">
		UPDATE cn_user set is_valid=0 where id=#{userId}
	</update>
	<select id="findByUserId" parameterType="string" resultType="com.leeshtao.cloudnote.entity.User">
		select 
			id,
			cn_user_name  name,
			cn_user_password  password,
			cn_user_token  token,
			cn_user_nick  nick
		from cn_user
		where id=#{id}
	</select>
	
</mapper>





















