<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"      
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <!-- 此处的namespace一般对应的是daoService所在的包,但在此demo中未使用 -->
<mapper namespace="com.leeshtao.MyBatis.mapper.One2MoreMapper">

	<resultMap id="studentResultMap" type="Student">
		<id column="ID" javaType="Integer" property="id"></id>
		<result column="STUDENT_NAME" 	jdbcType="VARCHAR" 		property="studentName"/>
		<!-- 一对多的关系 -->  
        <!-- property: 指的是集合属性的值, ofType：指的是集合中元素的类型 -->  
		<collection property="courses" ofType="Course">
			<id column="ID" javaType="Integer" property="id"/>
			<result column="COURSE_NAME" jdbcType="VARCHAR" 	property="courseName"/>
		</collection>
	</resultMap>
	
	
 	<select id="getStudent" parameterType="int" resultMap="studentResultMap">
 		select s.student_name,c.course_name
 			from student s,course c
 			where s.id=c.student_id
 			 and s.id=#{id};
 	</select>
	
</mapper>





















