<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"      
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <!-- 此处的namespace一般对应的是daoService所在的包,但在此demo中未使用 -->
<mapper namespace="com.leeshtao.MyBatis.mapper.One2OneMapper">

	<resultMap id="courseResultMap" type="Course">
		<id column="ID" javaType="Integer" property="id"></id>
		<result column="COURSE_NAME" 	jdbcType="VARCHAR" 		property="courseName"/>
		<!-- 一对一的关系 -->  
        <!-- property: 指的是属性的值, javaType：指的是属性的类型--> 
		<association property="catalog" javaType="Catalog">
			<id column="ID" javaType="Integer" property="id"/>
			<result column="CATALOG_NAME" jdbcType="VARCHAR" 	property="catalogName"/>
		</association>
	</resultMap>
	
	
 	<select id="getCourse" parameterType="int" resultMap="courseResultMap">
 		select c.course_name,ct.catalog_name
 			from course c, catalog ct
 			where c.CATALOG_ID = ct.id
 			 and c.id=#{id};
 	</select>
	
</mapper>





















