<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.leeshtao.MyBatis.dao.OrdersDao"> 
  <parameterMap type="Orders" id="parameterOrdersMap"> 
    <parameter property="id"/> 
    <parameter property="code"/> 
    <parameter property="customerId"/> 
  </parameterMap> 
    
  <insert id="insertOrders"    parameterMap="parameterOrdersMap"> 
    <selectKey    keyProperty="id" resultType="int" order="AFTER"> 
      SELECT LAST_INSERT_ID() AS ID 
    </selectKey> 
    INSERT INTO t_orders(code,customer_id) 
    VALUES(#{code},#{customerId}) 
  </insert>    
    
  <resultMap type="Orders" id="ordersMap"> 
    <result property="id" 			column="id"/> 
    <result property="code" 		column="name"/> 
    <result property="customerId" 	column="customer_id"/> 
    <association property="customer" javaType="Customer" column="customer_id" select="com.leeshtao.MyBatis.dao.CustomerDao.getCustomer"/> 
  </resultMap>    
  <select id="getOrders" resultMap="ordersMap" parameterType="int"> 
    SELECT * FROM t_orders 
    WHERE id=#{id} 
  </select> 
    
  <select id="getOrdersById" resultMap="ordersMap" parameterType="int"> 
    SELECT * FROM t_orders 
    WHERE customer_id=#{customerId} 
  </select> 
    
</mapper>
