body{
	background-color: #cccccc;
	font-family:arial,helvetica,sans-serif;
}


.bookHeadline{
	font-size: 12pt;
	font-weight: bold;
}

.bookDescription{
	font-size: 10pt;
	font-family: STFangsong;
}

label{
	font-weight: bold;
}

p{
	color:#ff0000;
}
.errorPage{
	text-align:center;
}
.oops{
	font-size:42pt;
	text-align:center;
}
#page{
	width:60%;
	height:auto;
}